@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-arc{
    font-family: 'Archivo', sans-serif;
}
.font-pop{
    font-family: 'Poppins', sans-serif;
}
.nav{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
.search{
    position: relative;
}
#search{
    height: 32px;
    width: 520px;
    border-radius: 8px;
    position: relative;
    background-color: #EEF0FA;
    border: none;
    padding-left: 20px;
}
#search:focus{
    outline: none;
}
.ser-icon{
    position: absolute;
    right: 5px;
    top: 4px;
    color: #A1A3D4;
}
.logo{
    padding-left: 48.33px;
    gap: 9.33px;
}
.nav-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.list{
   list-style: none; 
   justify-content: space-between;
   width: 680px;
   font-weight: 300;
   font-size: 16px;
   line-height: 24px;
}
.user{
    padding-right: 48.33px;
    gap: 32px;
    color: #A1A3D4;
}
.l2{
    color: #8484A0;
}
.l1-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 14px;
    margin-top: 18px;
}

.footer{
    width: 100%;
    height: 36px;
    justify-content: space-between;
    align-items: center;
    padding: 0 67px 0 67px;

}
.font-robo{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 10px;
    line-height: 16px;
}